[run]
source = 
    sensors
    core
branch = True
omit =
    */venv/*
    */virtualenv/*
    */migrations/*
    sensors/management/*
    */migrations/*
    manage.py
    */tests/*

[report]
show_missing = True
precision = 2

[html]
directory = htmlcov