[flake8]
# Increase line length to match 'black' standards
max-line-length = 88
# Ignore specific errors that are often annoying or handled by black
extend-ignore = E203, W503, E501
# Exclude folders we don't care about
exclude = 
    .git,
    __pycache__,
    migrations,
    venv,
    .venv,
    doc/conf.py