# --- 1. CORE DJANGO & INFRASTRUCTURE ---
Django==6.1
django-filter
psycopg2-binary
gunicorn
whitenoise
django-environ
django-jazzmin
django-extensions
sorl-thumbnail
pytz
Pillow

# --- 2. WEBSOCKETS & ASYNC ---
channels
daphne

# --- 3. BACKGROUND WORKERS ---
celery
django-celery-beat
django-celery-results
django-q2

# --- 4. MACHINE LEARNING & DATA ---
numpy
pandas
scikit-learn
joblib

# --- 5. HARDWARE IOT & APIs ---
paho-mqtt
requests
twilio
# --- 6. API (REST FRAMEWORK) ---
djangorestframework

# --- 7. TESTING TOOLS ---
factory-boy