asgiref==3.12.1
channels==4.3.2
diagrams==0.25.1
Django==6.0.5
django_environ==0.14.0
djangorestframework==3.17.1
factory_boy==3.3.3
firebase_admin==7.5.0
joblib==1.5.2
locustio==0.999
matplotlib==3.8.4
numpy==2.5.1
paho_mqtt==2.1.0
pandas==3.0.4
pytz==2025.2
Requests==2.34.2
scikit_learn==1.8.0
seaborn==0.13.2
SQLAlchemy==2.0.52
twilio==9.9.1
